li a {
    color: green;
}

body {
    background: white url("images/b.jpg");
	background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #01122e;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}


header {
  background-color: #666;
  padding: 10px;

  text-align: left;
  font-size: 20px;
  color: white;
}


nav {
  float: left;
  width: 10%;
  /*height: 500px;
  background: #ccc;*/
  padding: 5px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 90%;
  /*background-color: #f1f1f1;
  height: 300px;*/
  height: 550px;
}


section:after {
  content: "";
  display: table;
  clear: both;
}


footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}